#btn-action {
  text-decoration: none;
  background-color: #E8998D;
  padding: 10px 20px;
  border-radius: 2px;
  opacity: 0.7;
  color: white;
  font-weight: bold;
}

#btn-action:hover {
  opacity: 1;
}